.container {
  width: 70%;
  margin: 0 auto; 
  &__logo {
    cursor: pointer;
    width: 100px;
    height: 27px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.login-container {
  width: 400px;
  height: 400px;
}
.register-container {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 1650px) {
  .container {
    width: 80%;
  }
}

.footer-info {
  padding-left: 80%;
  padding-top: 3%;
  color: #fff;
}

@media screen and (max-width: 1420px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }

  .mortage-table-container {
    flex-direction: column !important;
    &_data {
      width: 80% !important;
    }
  }
}

@media screen and (max-width: 845px) {
  .mortage-table-container {
    align-items: center !important;
    &_data {
      align-items: center !important;
      flex-direction: column !important;
    }
  }
  .calc-btn {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-info {
    padding-left: 70%;
  }
}

@media screen and (max-width: 411px) {
  .login-container {
    width: 300px;
    height: 300px;
  }

  .register-container {
    width: 300px;
    height: 300px;
  }

  .footer-info {
    padding-top: 8%;
    padding-left: 50%;
  }
}
